<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="drawerToggled()"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="search-input-container">
      <img src="../../../../assets/images/magnify-glass.png" alt="search" />
      <input class="search-input" placeholder="Security Companies" value="" />
    </div>

    <span class="example-spacer"></span>
    <button mat-raised-button class="btn-jobs" color="primary">Jobs</button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with bell icon"
      [matMenuTriggerFor]="notifyaMenu"
      #notifyMenu="matMenuTrigger"
      (click)="openNotifyMenu()"
    >
      <mat-menu #notifyaMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>notification_important</mat-icon>
          <span>Notification 1</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notification_important</mat-icon>
          <span>Notification 2</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notification_important</mat-icon>
          <span>Notification 3</span>
        </button>
      </mat-menu>
      <span class="badge-notification">
        <span>5</span>
      </span>
      <img src="../../../../assets/images/bell.png" alt="notifications" />
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with message icon"
      mat-button
      [matMenuTriggerFor]="messagaMenu"
      #messageMenu="matMenuTrigger"
      (click)="openMessagaMenu()"
    >
      <mat-menu  #messagaMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>face</mat-icon>
          <span>Message 1</span>
        </button>
        <button mat-menu-item>
          <mat-icon>face</mat-icon>
          <span>Message 2</span>
        </button>
        <button mat-menu-item>
          <mat-icon>face</mat-icon>
          <span>Message 3</span>
        </button>
      </mat-menu>
      <span class="badge-message">
        <span>6</span>
      </span>
      <img src="../../../../assets/images/message.png" alt="message" />
    </button>

    <span class="profile">
      <img src="../../../../assets/images/profile.png" alt="profile" />
    </span>
  </mat-toolbar-row>
</mat-toolbar>
