.section-1 {
  width: 100%;
}
h4 {
  font-size: 1rem;
  font-weight: 600;
}
.log-box {
  background: #f6f7fa;
  margin: 2vh 0;
  padding: 2vh;
}

.log-box .title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.log-box .title img {
  margin: 0 1vh;
}
.log-box .title .title-text {
  font-size: 0.94rem;
}

.log-box .title .time {
  font-size: 0.64rem;
  position: absolute;
  right: 0;
  padding: 0px 3px;
  border: 1px solid #cccdcd;
  color: #cccdcd;
}

.log-box .desc {
  font-size: 0.85rem;
}
.log-box .desc .user {
  color: #a6d9ea;
}

.log-box .link {
  font-size: 0.94rem;
}
.log-box .link a {
  text-decoration: underline;
}
.bordered {
  border: 1px solid #ccc;
  color: #767676;
  font-size: 0.85rem;
  padding: 0.41rem 0.8rem;
  margin: 0.3rem 0;
  word-spacing: -0.2rem;
}
.accounting-container {
  margin: 2vh 0;
}

.bordered .box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bordered .box img {
  width: 3rem;
  margin: 0 2vh;
}

.bordered .box .inner {
  display: flex;
  flex-direction: column;
}

.bordered .box .inner .value {
  font-size: 1.2rem;
}
.bordered .box .inner {
  font-weight: 600;
  color: #333;
}
.details-container li.active a {
  background: #1b56ab;
  color: #fff;
  margin-right: 0.3rem;
}
.details-container li.active a {
  background: #1b56ab;
  color: #fff;
  background: #1b56ab;
  color: #fff;
  border-radius: 0;
  padding: 0rem 1rem;
  font-size: 12px;
}
.details-container a:hover {
  text-decoration: none;
}
.details-container a {
  color: #333;
}

.single-progress-details {
  margin: 1vh;
}

.details-progress {
}

.details-progress .title {
  font-weight: 600;
  color: #333;
  font-size: 0.85rem;
}
.details-progress .value {
  margin-bottom: 0.2rem;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
}

.details-progress .progress-contianer {
  position: relative;
}
.progress-contianer .progress-bar-bg {
  height: 3px;
  background: #ccc;
  position: relative;
}

.progress-contianer .progress-step {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: -1rem;
}

.all-progress-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.status {
  /* background: blue; */
  height: 5px;
  /* width: 55%; */
  position: absolute;
  top: -1px;
}
.demo-chart {
  height: 250px;
  width: 100%;
}
.blue {
  background: blue;
}
.pink {
  background: orange;
}
.orange {
  background: pink;
}
.PL {
  padding-left: 0;
}
.job-all-progress {
  margin: 0.5rem 0;
}
.job-all-progress .jobs-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-all-progress .complete {
  width: 10%;
}
.job-all-progress .line {
  width: 30%;
  height: 2px;
  background: #ccc;
}
.job-all-progress .title {
  width: 40%;
}

.overview {
  margin: 0.4rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.overview img {
  margin: 0 2vh;
}
.stats {
  font-size: 2rem;
  font-weight: 500;
}
.btn-view-contact {
  margin: 0.4rem 0;
}
.contact-btn {
  background: #1b56ab;
  width: 100%;
  color: #fff;
}
.all-content-wrapper {
  height: 100%;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.job-progress-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.chart-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column-reverse;
}
.chart-cnvas {
  width: 100% !important;
  height: 180px !important;
}
.height-bordered {
  min-height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-icon {
  position: absolute;
  z-index: 9999999;
}
@media screen and (max-width: 2600px) and (min-width: 1770px) {
  .height-bordered {
    min-height: 20rem;
  }
  .chat-icon {
    bottom: 4rem;
  }
}

@media screen and (max-width: 1770px) and (min-width: 1540px) {
  .height-bordered {
    min-height: 20rem;
  }
  .chart-cnvas {
    width: 100% !important;
    height: 240px !important;
  }
  .chat-icon {
    bottom: 4rem;
  }
}

@media screen and (max-width: 1540px) and (min-width: 1024px) {
  .height-bordered {
    min-height: 15rem;
  }
  .chart-cnvas {
    width: 100% !important;
    height: 160px !important;
  }
  .details-progress .value {
    margin-bottom: 0.1rem;
    color: #333;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .stats {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
